<div class="row">
	<div class="col-sm-12">
		<ul class="selecton margin-bottom-70 center-text">
			<li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
			<li><a href="#" data-select="pizza"><b>PIZZA</b></a></li>
			<li><a href="#" data-select="pasta"><b>PASTA</b></a></li>
			<li><a href="#" data-select="salads"><b>SALADS</b></a></li>
			<li><a href="#" data-select="deserts"><b>DESERTS</b></a></li>
			<li><a href="#" data-select="deserts"><b>DRINKS</b></a></li>
		</ul>
	</div><!--col-sm-12-->
</div><!--row-->

<app-items></app-items>

<h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc btn-text"><b>SEE TODAYS MENU</b></a></h6>