/* You can add global styles to this file, and also import other style files */

.pacifico-font{
	font-family: 'Pacifico', cursive;
}

.imFellGreatPrimet-font{
	font-family: 'IM Fell Great Primer', serif;
}

.cedarvilleCursive-font{
	font-family: 'Cedarville Cursive', cursive;
}
