
<section class="bg-1 h-900x main-slider pos-relative">
	<div class="background-image-top">
		<div class="triangle-up pos-bottom"></div>
		<div class="container h-100">
			<div class="dplay-tbl">
				<div class="center-text">

					<h5 class="imFellGreatPrimet-font mt-100px fs-100"><b>BEST IN TOWN</b></h5>
					<h1 class="pacifico-font">Fresh Pizza</h1>
					<h5><a href="menu.php" class="btn-primaryc btn-text"><b>SEE TODAYS MENU</b></a></h5>
				</div><!-- dplay-tbl-cell -->
			</div><!-- dplay-tbl -->
		</div><!-- container -->
	</div>
</section>


<section>
		<div class="background-bottom">
			<div class="background-image-bottom center-text">
				<div class="heading">
					<img class="heading-img" src="../../assets/images/header-logo.png" alt="">
					<h2 class="pacifico-font fs-100">Sample Menu</h2>
				</div>
				<div class="center-text ">
					<app-sub-menu></app-sub-menu>
				</div>
			</div>
		</div>
</section>